.download{
  background-color: #252b42;
  display: flex;
  flex-direction: column;
  align-content: center;

 
}
.download > .container{
  height: 100%;
}
.download *{
  color: white;
}
.download-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}
.download .btn{
  border-radius: 10px;
  border-color: white;
  padding: 30px 18px;
}

.download .text-content{
  margin-bottom: 50px;
}

.download .btn:hover{
 
  border-color: var(--btn-color);
}

.download .btn + .btn{
  margin-left: 10px;
}
@media screen and (min-width: 576px) {
  .download .btn{
    padding: 30px 25px;
  }
  .download .btn + .btn{
    margin-left: 30px;
  }
}


@media screen and (min-width: 768px) {
  .download {
    background: url("./../images/bg-download.png") no-repeat ;
    background-size: cover;
  }
  .download .btn{
    padding: 30px 40px;
  }
 
}
@media screen and (min-width: 992px) {
  .download .btn{
    padding: 30px 50px;
  }
 
}