.footer{
  margin-top: 50px;
  margin-bottom: 30px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  flex-wrap: wrap;
}
.icon-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.copywright{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.footer .wrapper-logo-img{
  display: none;
}


@media screen and (min-width: 992px) {
  .footer .wrapper-logo-img{
    display: flex;
    size: 300rem;
  }
  .footer .logo-img{
    
  }
  .copywright,
  .icon-wrapper{
    margin-left: 0;
    margin-right: 0;
  }
}
