.wrapper-logo-img {
  padding: 10px;
}
.logo-img {
  margin-left: 4px;
  object-fit: contain;
  object-position: center;
  min-width: 100%;
  min-height: 100%;

}
.nav-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav {
  display: flex;
  min-height: 40px;
  min-width: 20px;
  align-items: center;
  cursor: pointer;
}

.nav-btn::after,
.nav-btn::before {
  content: "";
  position: absolute;
}
.nav-btn,
.nav-btn::after,
.nav-btn::before {
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background-color: #ababab;
}
.nav-btn::after {
  margin-top: 7px;
}
.nav-btn::before {
  margin-top: -7px;
}
@media screen and (min-width: 768px) {
  .header{
   max-height: 85px;
   min-height: 85px;
  }
}

@media screen and (min-width: 992px) {
  .header{
    max-height: 100px;
    min-height: 100px;
   }

  .logo-img{
    width: 180px;
  }
}