.header{
  position: fixed;
}
.logo-img{
  margin-left: 4px;
}
.nav-wrapper{
  display: flex;
  justify-content: flex-end;
  min-width: 55%;
  align-items: flex-end;
}
.nav {
  min-height: 40px;
}
.nav-btn{
  margin-top: 30px;
}
.nav-btn::after,.nav-btn::before {
  content: '';
  position: absolute;
}
.nav-btn,
.nav-btn::after,
.nav-btn::before {
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background-color: #ababab;
}
.nav-btn::after{
  margin-top: 7px;
}
.nav-btn::before{
  margin-top: -7px;
}